<div class="livres">
  <mat-card class="cards" *ngFor="let reading of myReadings">
    <mat-card-header>
      <mat-card-title>{{reading.title}}</mat-card-title>
      <mat-card-subtitle>{{reading.author}}</mat-card-subtitle>

    </mat-card-header>
    <img width="100%" height="100%" mat-card-image src="../../../../assets/img/petit_prince.jpg" alt="Le petit prince">
    <div class="card-actions">
      <button mat-raised-button color="accent" (click)="openDialog(reading.bookId)">Details</button>
      <div>
        <button class="remove-btn" color="warn" mat-icon-button matTooltip="remove" aria-label="heart icon-button for liked books"
                (click)="removeUserReading(reading.bookId, reading.title)">
          <mat-icon>favorite</mat-icon>
        </button>
        <button (click)="changeReadingStatus(reading.readingId, reading.read)" mat-icon-button color="accent" aria-label="check-box icon-button for reading status"
                matTooltip="{{reading.read?'reading complete': 'Unread'}}">
          <mat-icon>{{reading.read ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
        </button>

        <!-- Menu more over -->
        <button *ngIf="userId === reading.creatorId" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <a mat-menu-item [routerLink]="['/edit-book', reading.bookId]">
            <mat-icon color="accent">edit</mat-icon>
            <span>Edit</span>
          </a>
          <button class="remove-btn" mat-menu-item (click)="deleteBook(reading.bookId)">
            <mat-icon color="warn">delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-card>
</div>
