.livres {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  display: grid;
  grid-row: 1;
  align-items: start;
  margin: 50px 20px;

  .cards {
    max-width: 400px;
    display: inline-block;

    .card-actions {
      display: flex;
      justify-content: space-between;
      .remove-btn {
        //order: 5;
        //flex-grow: 3;
      }
    }
  }



  mat-card-title {
    font-size: 1.5vw;
  }

}
