<div class="livres">
  <mat-card class="cards" *ngFor="let book of myBooks">
    <mat-card-header>
      <mat-card-title>{{book.title}}</mat-card-title>
      <mat-card-subtitle>{{book.author}}</mat-card-subtitle>

    </mat-card-header>
    <img mat-card-image
         src="../../../../assets/img/petit_prince.jpg"
         alt="Le petit prince">
    <!--  <img mat-card-image-->
    <!--       src="http://books.google.com/books/content?id=RsdyDwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&imgtk=AFLRE71vV0YpiOiaMgmx19uVw5r0dsCW_9NVTMiAcFBYLJHnWkPeAHdCIE8vPEeSRmy6g4YSzz5B_-HyS9LHLPzKP86rEds4rQp8iLtsiNz6oFtqW17XOImWGcNvL6I1krl22Oh_7fcO&source=gbs_api"-->
    <!--       alt="Le petit prince">-->
    <button mat-raised-button color="accent" (click)="openDialog(book)">Details</button>
    <button class="like-btn" mat-icon-button color="warn" matTooltip="remove"
            (click)="removeBookFromList(book.id, book.title)">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-card>
</div>
