<form [formGroup]="bookForm" (ngSubmit)="saveBook()">

  <mat-toolbar>
    <h1>Ajouter un livre à la médiathèque</h1>
  </mat-toolbar>

  <div>
    <div>
      <mat-form-field>
        <mat-label>Titre</mat-label>
        <input id="title" matInput formControlName="title">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Auteur</mat-label>
        <input id="author" matInput formControlName="author">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Année de publication</mat-label>
        <input id="year" type="number" matInput formControlName="year">
      </mat-form-field>
    </div>

<!--    <div>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Genre</mat-label>-->
<!--        <input id="genre" type="text" matInput formControlName="genre">-->
<!--      </mat-form-field>-->
<!--    </div>-->

    <div>
      <mat-form-field>
        <mat-label>Résumé</mat-label>
        <input id="summary" type="text" matInput formControlName="summary">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-select id="genre" placeholder="Genre" formControlName="genre">
          <mat-option *ngFor="let genre of genres" [value]="genre">
            {{genre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <button class="large-button" mat-flat-button color="primary" type="submit">Enregistrer</button>
    </div>
  </div>
</form>
