<form [formGroup]="bookForm" (ngSubmit)="saveBook()">
  <div>
    <div>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input id="title" matInput formControlName="title">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Author</mat-label>
        <input id="author" matInput formControlName="author">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Year of publication</mat-label>
        <input id="year" type="number" matInput formControlName="year">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-select id="genre" placeholder="Genre" formControlName="genre">
          <mat-option *ngFor="let genre of genres" [value]="genre">
            {{genre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Summary</mat-label>
        <textarea id="summary" type="text" matInput formControlName="summary"></textarea>
      </mat-form-field>
    </div>

    <div>
      <button class="large-button" mat-flat-button color="primary" type="submit">Save</button>
    </div>
  </div>
</form>
