.container {

  width: 400px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  text-align: center;

  .disabledBtn {
    background-color: #90fcc7;
  }
  .saveBtn {
    padding: 0 40px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    width: 300px;
  }
}
