<form [formGroup]="registerForm" (ngSubmit)="register()">

  <div class="container">

    <div>
      <h1>Sign Up</h1>
      <small>It's quick and easy.</small>
    </div>

    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput id="firstName" formControlName="firstName">
      <mat-error class="text-danger" *ngIf="firstName.hasError('required')">
        {{requiredMessage('First name')}}
      </mat-error>
      <mat-error class="text-danger" *ngIf="firstName.hasError('minlength')">
        {{lengthMessage(2, 0)}}
      </mat-error>
      <mat-error class="text-danger" *ngIf="firstName.hasError('maxlength')">
        {{lengthMessage(50, 1)}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input id="lastName" matInput formControlName="lastName">
      <mat-error class="text-danger" *ngIf="lastName.hasError('required')">
        {{requiredMessage('Last name')}}
      </mat-error>
      <mat-error class="text-danger" *ngIf="lastName.hasError('minlength')">
        {{lengthMessage(2, 0)}}
      </mat-error>
      <mat-error class="text-danger" *ngIf="lastName.hasError('maxlength')">
        {{lengthMessage(50, 1)}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input id="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        {{requiredMessage('Email')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input id="password" type="password" matInput formControlName="password">
      <mat-error class="text-danger" *ngIf="password.hasError('required')">
        {{requiredMessage('Password')}}
      </mat-error>
      <mat-error class="text-danger" *ngIf="password.hasError('minlength')">
        {{lengthMessage(4, 0)}}
      </mat-error>
      <mat-error class="text-danger" *ngIf="password.hasError('maxlength')">
        {{lengthMessage(20, 1)}}
      </mat-error>
      <mat-error class="text-danger" *ngIf="password.hasError('pattern')">
        {{patternMessage()}}
      </mat-error>
    </mat-form-field>

    <div>
      <button [ngClass]="{'disabledBtn': registerForm.invalid}" class="registerButton" mat-flat-button color="primary" type="submit" [disabled]="registerForm.invalid">
        Register
      </button>
    </div>
  </div>
</form>
