
.container {
  width: 400px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  text-align: center;

  h1 {
    margin: 0;
    color: #69f0ae;
  }

  small {
    color: #777575;
  }

  .registerBtn {
    padding: 0 40px;
  }

  .disabledBtn {
    background-color: #90fcc7;
  }
}

@media screen and (max-width: 640px) {
  .container {
  width: 300px;
  }
}
