<div class="search-container">
  <mat-form-field>
    <mat-label>Search a book</mat-label>
    <input (input)="searchBook()" matInput [(ngModel)]="search" type="search" placeholder="Ex. The little prince">
    <i class="material-icons" matSuffix>search</i>
  </mat-form-field>
</div>

<div class="livres">
    <mat-card *ngFor="let book of libraryBooks" class="cards" id="{{book.id}}">
    <mat-card-header>
      <mat-card-title>{{book.title}}</mat-card-title>
      <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image width="100%" height="100%"
         src="assets/img/petit_prince.jpg"
         alt="Le petit prince">
    <button mat-raised-button color="accent" (click)="openDialog(book.id)">Details</button>

    <button class="like-btn" mat-icon-button
            (click)="readingBookIds.includes(book.id) ? removeFromList(book.id, book.title) : addToList(book.id, book.title)">
      <mat-icon color="warn">{{readingBookIds.includes(book.id) ? 'favorite' : 'favorite_border'}}</mat-icon>
    </button>
  </mat-card>
</div>
