<!--<mat-card *ngFor="let user of users">-->
<!--  <mat-card-header>-->
<!--    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>-->
<!--  </mat-card-header>-->
<!--  <mat-card-content>N° {{user.id}}</mat-card-content>-->
<!--  <mat-divider></mat-divider>-->
<!--  <mat-card-content>Email: {{user.email}}</mat-card-content>-->
<!--  <mat-divider></mat-divider>-->
<!--  <mat-card-content>Password: {{user.password}}</mat-card-content>-->
<!--</mat-card>-->

<div class="livres">
  <mat-card *ngFor="let book of books" class="cards" id="{{book.id}}">
    <mat-card-header>
      <mat-card-title>{{book.title}}</mat-card-title>
      <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
      <button style="position: absolute; right: 50px;" mat-icon-button color="warn" (click)="addToList(book.id)">
        <mat-icon>favorite_border</mat-icon>
      </button>
    </mat-card-header>
    <img mat-card-image
         src="assets/img/petit_prince.jpg"
         alt="Le petit prince">
    <button mat-raised-button color="accent" (click)="openDialog(book)">Details</button>
  </mat-card>

</div>
