<div class="container">
  <div *ngIf="authService.isLoggedIn">
    <app-profile></app-profile>
    <div>
      <mat-card style="width: 400px" *ngFor="let book of myBooks">
        <mat-card-header>
          <mat-card-title>{{book.title}}</mat-card-title>
          <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
          <button style="position: absolute; right: 50px;" mat-icon-button color="warn" (click)="removeBookFromList(book.id)">
            <mat-icon>favorite</mat-icon>
          </button>
          <!--      <button class="material-icons" >add_box</button>-->
        </mat-card-header>
        <img mat-card-image
             src="assets/img/petit_prince.jpg"
             alt="Le petit prince">
        <button mat-raised-button color="accent">Details</button>
      </mat-card>

    </div>
  </div>
  <div id="loginComponent">
    <app-login *ngIf="!authService.isLoggedIn"></app-login>
  </div>
</div>
