<form [formGroup]="loginForm" (ngSubmit)="userLogin()">

  <div class="container">

    <div>
      <h1>The Reader</h1>
    </div>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input id="username" matInput formControlName="username" placeholder="Ex. pat@exemple.com">
      <mat-error *ngIf="username.hasError('required')">
        {{requiredMessage('email')}}
      </mat-error>
      <mat-error *ngIf="username.hasError('email')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input id="password" [type]="hide ? 'password' : 'text'" matInput formControlName="password">
      <i class="material-icons" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</i>
      <mat-error *ngIf="password.hasError('required')">
        {{requiredMessage('password')}}
      </mat-error>
    </mat-form-field>

    <div>
      <button [ngClass]="{'disabledBtn': loginForm.invalid}" class="loginButton" mat-flat-button color="accent"
              type="submit" [disabled]="loginForm.invalid">Log In
      </button>
    </div>

    <div>
      <p>Don't have an account? </p> <a routerLink="/register">Sign Up</a>
    </div>
  </div>
</form>
