.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  .photo {
    text-align: center;
  }
}

@media screen and (max-width: 940px) {
  .container {
    grid-template-columns: 1fr;
  }
}
