<div class="container">
  <div class="photo">
    <img width="100px" height="100px" src="../../../../assets/img/PngItem_786293.png" alt="profile picture">
    <h2>{{authService.userDetails.firstName}} {{authService.userDetails.lastName}}</h2>
  </div>
  <div>
<!--    <ul>-->
<!--      <li>My Books: <strong>{{userService.getUserReadings().length}}</strong></li>-->
<!--      <li>Total Read: <strong>{{userService.getUserReadings().length}}</strong></li>-->
<!--      <li>Total Unread: <strong>{{userService.getUserReadings().length}}</strong></li>-->
<!--    </ul>-->
  </div>
  <div>
<!--    <ul>-->
<!--      <li>Romance</li>-->
<!--      <li>Theatre</li>-->
<!--      <li>Poem</li>-->
<!--      <li>Biography</li>-->
<!--    </ul>-->
  </div>
</div>
