<mat-toolbar color="primary">
  <h1>La Médiathèque</h1>
  <div class="navBar">
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/book-form">Add Book</a>
    <a mat-button routerLink="/book-list">Books</a>
  </div>

  <button class="userIcon" mat-button [matMenuTriggerFor]="menu">
    <span class="material-icons" matTooltip="{{authService.userDetails.firstName}}" *ngIf="authService.isLoggedIn">account_circle</span>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/home">Profile</a>
    <a style="color: #f44336" mat-menu-item (click)="logOut()">Log Out</a>
  </mat-menu>
</mat-toolbar>
