.navBar {
  margin-left: 10px;
  a {
    margin: auto 5px;
  }
}

mat-toolbar {
  margin-bottom: 50px;
}

.userIcon {
  position: absolute;
  right: 50px;
}

@media screen and (max-width: 499px) {
  .navBar, .userIcon {
    display: none;
  }
  .small-menu {
    position: absolute;
    right: 50px;
  }
}
@media screen and (min-width: 500px) {
  .small-menu {
    display: none;
  }
}
