<mat-toolbar color="primary">
  <h1>The Reader</h1>
  <div class="navBar">
    <a mat-button routerLink="/home">Home</a>
    <a *ngIf="authService.isLoggedIn" mat-button routerLink="/book-form">Add book</a>
    <a *ngIf="authService.isLoggedIn" mat-button routerLink="/book-list">Library</a>
  </div>

  <button class="userIcon" mat-button [matMenuTriggerFor]="menu">
    <span class="material-icons" matTooltip="{{authService.userDetails.firstName}}" *ngIf="authService.isLoggedIn">account_circle</span>
  </button>
  <mat-menu #menu="matMenu">
<!--    <a mat-menu-item routerLink="/home">Profile</a>-->
    <button style="color: #f44336" mat-menu-item (click)="logOut()">Log Out</button>
  </mat-menu>

  <div class="small-menu">
    <button mat-button [matMenuTriggerFor]="menu2">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu2="matMenu">
      <a mat-menu-item routerLink="/home">Home</a>
      <a *ngIf="authService.isLoggedIn" mat-menu-item routerLink="/book-form">Add book</a>
      <a *ngIf="authService.isLoggedIn" mat-menu-item routerLink="/book-list">Library</a>
      <button style="color: #f44336" mat-menu-item (click)="logOut()">Log Out</button>
    </mat-menu>
  </div>
</mat-toolbar>
