/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.green-snackbar {
  color: #69f0ae;
}
.orange-snackbar {
  color: #f44336;
}
.yellow-snackbar {
  color: #f6f201;
}
